nav.menu {
  background: #fff;
  padding: 20px;
  height: 100%;
  box-shadow: 0px 0px 16px -5px rgba(238,238,238,1);
  border-radius: 12px;
  flex: 0 0 250px;
  margin: 0 20px;
  ul{
    li{
      margin-bottom: 20px;
      a{
        display: flex;
        align-items: center;

        &.active{
          h5 {
            font-weight: 600;
          }
        }

        svg{
          width: 25px;
          margin-right: 10px;
          fill: #609bca;
        }

        h5{
          font-family: "Roboto", sans-serif;
          font-weight: 500;
          font-size: 14px;
        }
      }
    }
  }
}