nav.menu {
  background: #fff;
  padding: 20px;
  height: 100%;
  margin-right: 20px;
  ul{
    li{
      margin-bottom: 20px;
      a{
        display: flex;
        align-items: center;

        svg{
          width: 30px;
          margin-right: 10px;
          fill: #000;
        }

        h5{
          font-family: "Roboto", sans-serif;
          font-size: 18px;
          font-weight: 500;
        }
      }
    }
  }
}