.temp{
  height: 200vh;
  width: 100%;
}/**delete it**/

.header {
  position: sticky;
  top: 0;
  left: 0;
  border-bottom: 1px solid #eee;
  box-shadow: 0 3px 5px -2px #eee;
  padding: 10px 0;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #search{

  }

  #notifications{

  }

  &__logo {
    a{
      display: inline-flex;
      align-items: center;

      svg{
        height: 45px;
        width: 45px;
        margin-right: 10px;
      }

      h1{
        font-size: 26px;
        font-weight: 700;
      }
    }
  }

  &__profile {
    a{
      display: inline-flex;
      align-items: center;

      img{
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
      }

      h5{

      }
    }
  }
}