.footer{
  background: #fff;
  border-top: 1px solid #eee;
  box-shadow: 0 -3px 5px -2px rgba(136, 136, 136, 0.38);
  padding: 10px 0;

  .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;

    h5{
      font-family: "Roboto", sans-serif;
    }
  }
}