.footer{
  background: #fff;
  padding: 10px 0;

  .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;

    h5{
      font-family: "Roboto", sans-serif;
    }
  }
}