.center-section{
  flex: 1 0 60%;
}

.wall {

}


.create-post {
  padding: 20px;
  background: #fff;
  box-shadow: 0px 0px 16px -5px rgba(238,238,238,1);
  border-radius: 12px;

  &.open{
    textarea{
      height: 200px;
    }
  }

  &__top {
    display: flex;
    align-items: center;

    img{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 20px;
    }

    textarea{
      resize: none;
      border: 1px solid #eee;
      border-radius: 20px;
      flex: 1 1 auto;
      overflow: hidden;
      padding: 15px 20px 0;
      height: 50px;
      transition: height ease-in-out 0.4s;
    }

    button{
      width: 40px;
      height: 40px;
      padding: 5px;
      margin-left: 10px;

      svg{
        fill: #609bca;
      }
    }
  }

  &__profile{
    display: flex;
    flex-direction: column;
    margin-right: 20px;

    h5{
      font-weight: 600;
      margin-bottom: 5px;
    }

    p{
      color: #606060;
    }
  }
}

.posts{
  p{
    padding: 20px;
    background: #fff;
    box-shadow: 0px 0px 16px -5px rgba(238,238,238,1);
    border-radius: 12px;
    margin-top: 20px;
    line-height: 120%;
  }
}